
  h1,h2{
    font-family: sans-serif;
    text-align: center;
    margin-block-end: 50px
  }

  .myDiv{
    padding-block-end: 30px
  }

  input{
    background-color: rgb(239, 238, 240)
  }
 
  .spacer{
    padding-left: 5px
  }

  mat-toolbar{
    background-color: rgb(188, 213, 218)
  }

  